@font-face {
    font-family: "gothic-font";
    src: url('../../fonts/satan_hum_sav.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "star-wars-font";
    src: url('../../fonts/Starjedi.ttf');
    font-style: normal;
    font-weight: normal;
}

.word-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    overflow: visible;
    max-width: 500px;
    margin: 0 auto;
}

.char-item {
    flex-grow: 1;
    text-align: center;
    font-family: "star-wars-font", serif;
}

.char-active {
    font-size: 2em;
    color: black;
    background-color: white;
}